*{
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    

}
.title{
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
}
.description{
    text-align: center;
    font-size: 1.2em;
    margin-top: 10px;
}
.cats{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.pagination{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.page-number{
    font-size: 16px;
    width: 50px;
}
.page-button{
    padding: 10px 20px;
    background-color: white;
    text-decoration: underline;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.page-button.active{
    color: blue;
    text-decoration: none;
}
.pagination-button{
    padding: 10px 20px;
    background-color: white;
    text-decoration: underline;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.cat-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(187, 212, 227);
}
.cat-card :hover{
   cursor: pointer;
}
